<div>
<style>
h2 {
    text-align: center;
}
</style>
<h2>Mission</h2>

<table2>
The University is an innovative, coeducational, independent institution offering undergraduate and graduate students a career-focused
education marked by individualized attention, civility, and respect for difference. The University blends the liberal arts with career
exploration and planning, complementing a traditional education with applied learning beyond the classroom. The University meets students
where they are and supports and challenges them to become reflective and accomplished individuals committed to a lifetime of learning and
contribution. Students graduate with the competence and confidence needed to address creatively the opportunities and problems facing their
communities, the nation, and the world.
</table2>
<h2>Vision</h2>
<table2>
The University will become a national leader in collaborative career-focused liberal arts education and will equip its graduates to visualize
and achieve excellence in a dynamic global community.
</table2>
<h2>Values</h2>
<table2>
The core values of the University provide a foundation for faculty, staff, and students to fulfill the mission and achieve the vision of the
institution. The values are focused on community, learning, integrity, and excellence.

Promoting a sense of community, the University embraces the common bonds and obligations within and beyond the campus while respecting individual
 and cultural differences.
Fostering learning, the University promotes the pursuit of theoretical and practical knowledge while encouraging a life well-lived--a lifelong
philosophy of informed, critical thinking to meet evolving challenges and opportunities.
Instilling integrity, the University requires acting with dignity and honesty while adhering consistently to the University's ethical codes.
Achieving excellence, the University lauds superior performance while recognizing the importance of persistence toward goals.

</table>
